<section class="auth-page">
  <article class="auth-card">
    <p class="eyebrow">{{ 'auth.loginEyebrow' | translate }}</p>
    <h1>{{ 'auth.loginTitle' | translate }}</h1>
    <p class="subtitle">{{ 'auth.loginSubtitle' | translate }}</p>

    <form class="auth-form" (ngSubmit)="handleSubmit()">
      <label>
        {{ 'auth.email' | translate }}
        <input
          type="email"
          name="email"
          [(ngModel)]="email"
          autocomplete="email"
          required
          placeholder="jean@example.com"
        />
      </label>

      <label>
        {{ 'auth.password' | translate }}
        <input
          type="password"
          name="password"
          [(ngModel)]="password"
          autocomplete="current-password"
          required
          placeholder="123456"
        />
      </label>

      @if (iamFacade.error()) {
        <p class="error-message">
          {{ iamFacade.error()! | translate }}
        </p>
      }

      <div class="actions">
        <button type="submit" class="primary-btn" [disabled]="iamFacade.loading()">
          @if (iamFacade.loading()) {
            {{ 'common.loading' | translate }}
          } @else {
            {{ 'auth.signIn' | translate }}
          }
        </button>

        <a routerLink="/iam/register" class="secondary-btn">
          {{ 'auth.createAccount' | translate }}
        </a>
      </div>
    </form>
  </article>
</section>
